node_modules
dist
target
.gradle
.mvn
.idea
.vscode
.git
.gitignore
*.log
npm-debug.log*
.DS_Store
tmp
build
/.cache
.npmrc
/home/ubuntu/.dockernode_modules
dist
target
.git
.idea
.vscode
.m2
npm-debug.log
docker-compose.override.yml
